<!DOCTYPE html>
<html>

<head>
</head>

<body >
    <img src="https://i.postimg.cc/SsZ3zmfv/2ba05218-aed5-439b-83bb-bffa7408958b.jpg" width="300" style="margin: 0 auto;"/>
  <h1 style="font-size: 18px;">Estimado/a representante del estudiante: {{student}}, año y sección: {{yearAndSection}} de U.E.P. FRANCISCO JOSE DELGADO, se le informa que el día de hoy {{date}}, el estudiante no asistió a la clase {{clase}}, en caso de dudas comunicarse con el/la docente: {{teacher}}, teléfono: {{tel}}, email: {{email}} o dirigirse a la institución.</h1>
  <h2 style="font-size: 14px; color: midnightblue;">*Esto es un mensaje automático enviado por el sistema de asistencias ScanAssist*</h2>
</body>

</html>